// contact button
.btn-contact{
    border-radius: 35px;
    padding: 15px 80px;
    margin: 2rem 0 0 0;
    border: 1.5px solid $granite-gray;
    color: $granite-gray;
    background-color: $white;
    font-weight: $bold;
    font-size: 2rem;
    
}